:root {
  --color-base-background: rgb(43, 43, 43);
  --color-base-background-lighter: #393939;
  --color-base-text: #f0f0f0;
  --color-base-text-lighter: #d3d3d3;
  --color-border: white;
  --color-border-lighter: rgba(196, 201, 203, 0.4);
  --color-primary-background: #257016;
  --color-primary-text: #94ff9d;

  --border-radius: 10px;
  --border-radius-rounder:15px;
}
